main .boxGambar {
  width: 90%;
  margin: 0 auto 10px;
  background-color: #e0e0e0;
  height: 350px;
  border-radius: 10px;
}
main .kamera,
main .galeri {
  border: none;
  background-color: #006c84;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  margin: 5px;
}
.simpan {
  align-self: flex-end;
  width: 100%;
  border: none;
  position: sticky;
  bottom: 0;
  padding: 10px 30px;
}
#preview {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  margin-top: 10px;
  overflow: hidden;
}
#hiddenInput {
  display: none;
}
